<!DOCTYPE html>
<html lang="in">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowPlus | Growtopia Private Server</title>
    <link rel="stylesheet" href="assets/css/base.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Bergabunglah dengan GrowPlus, server Growtopia terbaik dengan berbagai custom items dan pengalaman bermain yang menyenangkan.">
    <meta name="keywords" content="Growtopia, Server Growtopia, GTPS, Growplus, Growtopia Private Server, Private Server">
    <meta name="author" content="GrowPlus">
    <meta property="og:title" content="GrowPlus | Minecraft Server">
    <meta property="og:description" content="Bergabunglah dengan GrowPlus, server Growtopia terbaik dengan berbagai custom items dan pengalaman bermain yang menyenangkan.">
    <meta property="og:image" content="https://login.cdngtps.my.id/assets/images/og.jpg">
    <meta property="og:url" content="https://login.cdngtps.my.id">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="GrowPlus | Minecraft Server">
    <meta name="twitter:description" content="Bergabunglah dengan GrowPlus, server Growtopia terbaik dengan berbagai custom items dan pengalaman bermain yang menyenangkan.">
    <meta name="twitter:image" content="https://login.cdngtps.my.id/assets/images/og.jpg">
</head>
<body>
    <header>

    </header>

    <main>
        <section id="home" class="h-screen bg-[url(../images/Growtopia-Sunny.webp)] bg-right bg-no-repeat bg-cover">

        </section>
    </main>

    <footer>

    </footer>
</body>
</html>